version: '3.8'

x-base: &base
  image: chatwoot/chatwoot:v4.7.0
  env_file: .env
  volumes:
    - storage_data:/app/storage

services:
  rails:
    <<: *base
    depends_on:
      - postgres
    entrypoint: /app/start.sh
    # command: ['bundle', 'exec', 'rails', 's', '-p', '3000', '-b', '0.0.0.0']
    volumes:
      - storage_data:/app/storage
      - ./start.sh:/app/start.sh
    restart: always
    networks:
      - dokploy-network

  sidekiq:
    <<: *base
    depends_on:
      - postgres
    environment:
      - NODE_ENV=production
      - RAILS_ENV=production
      - INSTALLATION_ENV=docker
    command: ['bundle', 'exec', 'sidekiq', '-C', 'config/sidekiq.yml']
    restart: always
    networks:
      - dokploy-network

  postgres:
    image: pgvector/pgvector:pg16
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
      
volumes:
  storage_data:
  postgres_data:

networks:
  dokploy-network:
    external: true